[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/rapidyaml"]
	path = thirdparty/rapidyaml
	url = https://github.com/biojppm/rapidyaml
